# .dockerignore (en la raíz)
**/.git
**/.gitignore
**/.vs
**/.vscode
**/bin
**/obj
**/.docker
**/Dockerfile*
**/docker-compose*
**/README.md
**/LICENSE
**/.env
**/secrets.json
**/appsettings.Development.json

# Test projects
**/tests

# Documentation
**/docs
**/*.md

# Logs
**/logs
**/*.log

# Temporary files
**/tmp
**/temp